p {
  background-color: lightblue;
  margin: 24px;
  padding: 24px;
}

p.special {
  background-color: lightcyan;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 200px;

  padding-top: 400px;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 400px;
}